@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
@keyframes open{
    from{
        overflow: hidden;
    }
    to{
        overflow: auto;
    }
}
body{
    font-family: 'lato';
    overflow: hidden;
    animation: open 1s 5s 1 forwards;
}
/* HEADER */
header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

}

header::after{
    content: 'WELCOME';
    color: white;
    font-size: 55px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 50%;
    background-color: #00945E;
    animation: leftslide 5s 1 forwards;
}
@keyframes leftslide{
    from{
        transform: translateY(-100%);
    }
    50%{
         transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
}
header::before{
    content: 'TO EXPENSE';
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 55px;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: translatex(-100%);
    width: 100%;
    height: 50%;
    background-color: #00945E;
    animation: rightslide 5s 1 forwards;
}
@keyframes rightslide{
    from{
        transform: translatex(-100);
    }
    50%{
         transform: translateX(0%);
    }
    to{
        transform: translatex(-100%);
    }
}
/* HEADER NAV */
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'lato';
    background-color: white;
    height: 70px;
    width: 100%;
    padding: 15px 60px;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
    opacity: 0;
    animation: nav .6s 4s 1 forwards;
}
@keyframes nav{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}
.logo{
    transform: scale(.75);
    cursor: pointer;
}
.search{
    width: 20px;
    cursor: pointer;
}
.search-bar{
    padding: 5px 10px;
    background-color: rgb(235, 233, 233);
    border-radius: 3px;
    top: 60px;
    right: 60px;
    width: 190px;
    transition: all .4s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.open{
    top: 70px;
    opacity: 1;
    pointer-events: all;
}
.search-bar-input-decoy::after{
    content: '';
    position: absolute;
    transform: rotate(48deg);
    top: -4px;
    border-radius: 2px;
    right: 5px;
    background-color: rgb(235, 233, 233);
    width: 10px;
    height: 10px;
}
.search-bar-input-decoy{
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
    width: 100%;
}
.search-bar .search-bar-input-decoy input{
    border: none;
    background: none;
    width: 100%;
    padding-right: 20px;
    outline: none;
}

.nav__lists{
    display: flex;
    list-style: none;
    width: 70%;
    margin-left: auto;
    justify-content: space-evenly;
}
.nav__lists__link{
    overflow: hidden;
}
.nav__lists__link a{
   text-decoration: none;
   color: black;
   font-size: 14px;
   position: relative;
   font-weight: 100;
}
.nav__lists__link a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 0%;
    height: 1px;
    transition: all .3s;
}
.nav__lists__link a:hover::after{
    width: 100%;
}
/* HERO HEADER */
.hero-header{
    width:  50%;
    height: 50%;
    margin: 10% 10%;
    transform: translatey(-50px);
    opacity: 0;
    animation: head 1.1s 4s 1 forwards;
}
@keyframes head{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
       transform: translateY(0);
    }
}
/* hero nav */
.hero-nav{
    display: flex;
    width: 100%;
    color: #00945E;
}
.hero-nav li{
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
}
.hero-nav li:nth-child(1){
    list-style: none;
}
/* hero content */
.hero-h1{
    font-size: 46px;
    font-weight: 800;
    margin-top: 50px;
    color: #353A45;
    width: 100%;
}
.hero-p{
    font-size: 20px;
    color: #353A45;
    margin-top: 50px;
    width: 100%;
}
.hero-p p{
    margin-bottom: 10px;
}

.div-head{
    color: #00945E;
    border-bottom: 3px solid;
    width: 310px;
    padding: 15px 20px;
    word-spacing: 5px;
    transform: translatex(40%);
}
/* SECTION */
.section{
    border-top: 2px solid rgba(141, 141, 141, 0.26);
    height: auto;
    padding: 10px;
    width: 100%;
}
#card{
    width: 250px;
    height: 400px;
    padding: 20px;
    border-radius: 1px;
    background-color: white;
    margin: 11px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: rgba(128, 128, 128, 0.055);
    transition: all .2s;
}
#card:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.349);
}
#card-content{
    height: 100%;
    background-image: url(/images/scale.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 10px;
}
.card-img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.card-content-detailes{
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: left;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-content-detailes h3{
    font-size: 25px;
}
.card-content-detailes p{
    margin-top: 10px;
    font-size: 20px;
}
.card-content-detailes .p1{
    margin-top: 20px;
}
.card-content-detailes .p2{
    color: #00945E;
    font-size: 18px;
}
.card-content-detailes h6{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 50;
}
/* Footer */
footer{
    background-color: #323E48;
}
#foot-logo{
    margin-top: 30px;
}
.foot-logo{
    margin-top: 30px;
    margin-left: 6%;
}
.more-info{
    width: 60%;
    display: flex;
    transform: translateY(-100px);
    margin-left: auto;
    color: white;
    justify-content: space-around;
}
.more-info ul{
    list-style: none;
}
.more-info ul li{
    font-weight: 100;
    cursor: pointer;
    margin-top: 4px;
}
.misc-info{
    display: flex;
    background-color: #1F2430;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 20px 20px 0px;
    width: auto;
    font-weight: 100;
}
.misc-info ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 70%;
    margin-left: 0%;
    font-size: 15px;
}
.misc-info ul li{
    padding-left: 10px;
}
.misc-info ul li:nth-child(2),
.misc-info ul li:nth-child(3){
    border-left: 1px solid;
}
.copyright{
    font-size: 15px;
}



@media screen and (max-width: 840px){
    /* HEADER MEDIA */
    .burger{
        display: block;
        padding: 3px;
        width: 30px;
        position: absolute;
        left: 0;
        margin-left: 20px;
        margin-top: -45px;
        cursor: pointer;
    }
    .burger span{
        width: 100%;
        display: block;
        margin-bottom: 3px;
        position: relative;
        height: 2px;
        top: 0;
        background-color: #000000;
        border-radius: 20px;
        transition: all .4s;
    }
    .burger.open span:nth-child(1){
        transform: rotate(40deg);
        top: 7.5px;
    }
    .burger.open span:nth-child(4){
        transform: rotate(-40deg);
        top: -7.5px;
    }
    .burger.open span:nth-child(2),
    .burger.open span:nth-child(3){
        opacity: 0;
        transform: translateX(-30px);
    }
    .nav__lists{
        flex-direction: column;
        background-color: #ffffff;
        width: 200px;
        transform: translateY(0%);
        opacity: 0;
        position: absolute;
        pointer-events: none;
        text-align: center;
        box-shadow: 0px 2px 5px 0px grey;
        z-index: 10;
        top: 0%;
        display: block;
        transition: all .3s;
        left: 0;
    }
    .nav__lists.open{
        transform: translateY(0%);
        opacity: 1;
        background-color: white;
        z-index: 10;
        pointer-events: all;
    }
    .nav__lists__link{
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        padding: 10px;
    }
    .nav__lists__link:nth-child(4){
        border: none;
    }
    .nav__lists__link a{
       text-decoration: none;
       color: black;
       font-size: 14px;
       position: relative;
       font-weight: 100;
    }
    .hero-header{
        text-align: center;
        width:  100%;
        height: 50%;
        margin: 100px 0;
    }
    .hero-nav{
        width: auto;
        padding-left: 50px;
        color: #00945E;
    }
    .hero-nav li:nth-child(3){
        margin: 0;
    }
    .hero-h1{
        font-size: 33px;
    }
    .hero-p{
        padding: 0 10px;
    }
    /* HEADER MEDIA END */
    .div-head{
        color: #00945E;
        border-bottom: 3px solid;
        width: 100%;
        padding: 15px 20px;
        text-align: center;
        word-spacing: 5px;
        transform: translatex(0%);
    }
    .card-content-detailes h3{
        font-size: 20px;
    }
    /* FOOTER MEDIA*/
    footer{
        background-color: #323E48;
    }
    #foot-logo{
        margin-top: 30px;
    }
    .foot-imgs{
        text-align: center;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }
    .foot-logo{
        margin-top: 30px;
        margin-left: 6%;
    }
    .more-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateY(0px);
        margin: 100px auto;
        color: white;
        text-align: center;
        justify-content: none;
    }
    .more-info ul{
        list-style: none;
        margin-bottom: 30px;
    }
    .more-info ul li{
        font-weight: 100;
        cursor: pointer;
        margin-top: 10px;
    }
    .misc-info{
        display: flex;
        padding: 20px 20px 20px 20px;
        background-color: #1F2430;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-weight: 100;
    }
    .misc-info ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        width: 70%;
        margin-left: 0%;
        font-size: 13px;
    }
    .misc-info ul li{
        padding-left: 2px;
    }
    .misc-info ul li:nth-child(2),
    .misc-info ul li:nth-child(3){
        border: none;
    }
    .copyright{
        font-size: 12px;
    }
}
@media screen and (max-width:376px){
    .logo{
        transform: scale(.5);
    }
    .search{
        transform: scale(.6);
        transform: translateX(-20px);
    }
    .hero-nav{
        display: flex;
        text-align: center;
        width: 100%;
        padding-left: 50px;
        color: #00945E;
    }
    .hero-nav li{
        font-size: 13px;
    }
    .card-content-detailes h3{
        font-size: 18px;
    }
}