/*nav{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
}

.expenseng{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #005938;
}
.com{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #323E48;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #323E48;
}*/

.first-section{
    background-color: #fff; 
}

.first-section i{
    font-size: 4px;
}

.green span{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #00945E;
}

.second-part p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    color: #323E48;
}

.first-section .card{
    background-color: #fff; 
}

.first-section .card-header{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1F2430;
}

small{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #1F2430;
}

.second-section .first-part .link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #A1A3A8;
}

.second-section .first-part a::after {
    content: '';
    height: 2px;
    background: #A1A3A8; 
    display:block;
    margin-top: 20px;
}

.second-section .first-part .link:focus, .second-section .first-part .link:hover {
    color: #00945E;
    text-decoration: none;
}

.second-section .first-part a:hover::after {
    background: #00945E;
}

hr{
    width: 100%;
    border: 1px solid #D5D9D8;
    margin-top: 0px;
}

.card .card-body .links{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6765EC;
}

.second-section .card-img{
    background-color: #E5E5E5;
}

.card-title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.card-text .green{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #005D3B;
}

.second-section .card .link{
    color: #000000;
}

.card .social-handle .link{
    color: #000000;
}


/*footer .first-footer{
    background-color: #323E48;
    color: #fff;
}

footer .second-footer{
    background-color: #1F2430;
    color: #fff;
}

.white-line{
    border: 2px solid #ffffff;
}

footer ul li{
    list-style-type: none;
}*/

[class^='col-lg-3']{
    margin-bottom: 20px;
}

